<style>
  .img-wrapper {
  position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}
</style>


<div class="card mt-1" style="max-width: 725px">
  <div class="row g-0">
    <div class="col-md-3 col-3 img-wrapper">
      <img
        src="<%= data.imgURL %>"
        class="img-fluid rounded-start img-responsive"
        alt="<%= data.imgAltText %>"
      />
      <span class="badge bg-dark img-overlay"> <%= data.numberOfQuestions%> <%= data.numberOfQuestions > 1 ? " Questions" : "Question" %>
       </span>
    </div>
    <div class="col-md-9 col-9 d-flex flex-column justify-content-between">
      <div class="card-body">
        <h5 class="card-title"><%= data.title %></h5>
      </div>
      <div class="card-footer align-items-baseline d-flex justify-content-between px-2">
        <div><i class="fas fa-user-alt fa-lg me-2"></i></i>
        <small class="text-muted"
          > <%= data.composerName %>  </small
        ></div>
        <div class="d-flex align-items-center justify-content-between px-0" role="group" aria-label="">
          <small class="text-muted"> <%= moment.utc(data.updatedAt, 'YYYY-MM-DD HH:mm:ss SS').fromNow() %></small>
          <% if (!data.editEnabled) { %>
            <a id=""  class="btn btn-sm btn-info ms-2 px-3" href="/clone/<%= data.id %>"  role="button">CLONE</a>
          <% } else { %> <a id="" class="btn btn-sm btn-danger ms-2 px-3" href="/delete/<%= data.id %>"  role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">DELETE</a>
            <a  id=""  class="btn btn-sm btn-primary ms-2 px-3" href="/edit/<%= data.id %>"  role="button">EDIT</a> <% }  %>  
          <% if (data.isDraft) { %>
          <a  id="" class="btn btn-sm btn-success ms-2 px-3 disabled" href="/lobby/<%= data.id %> " role="button">PLAY</a>
          <% } else { %>
            <a id="" class="btn btn-sm btn-success ms-2 px-3" href="/lobby/<%= data.id %> " role="button">PLAY</a>
          <% }  %>  
        </div>
      </div>
    </div>
  </div>
</div>
