<!DOCTYPE html>
<html lang="en">
<%- include('../partials/headerhome', {title}); %>
<link rel="stylesheet" href="/stylesheets/stylecompose.css" />

<body>
  <nav class="navbar-light bg-light sidebar" id="mySidebar">
    <div class="dismiss">
      <i class="fas fa-arrow-right" id="closesign"></i>
    </div>

    <!-- Question  links-->
    <a class="navbar-brand" href="#">Question List</a>
    <nav class="nav nav-pills flex-column">
      <hr style="color: rgb(14, 119, 105); height: 3px" />
      <ol>
        <% dataset.rows.forEach(function(question){ %>
        <li>
          <a class="nav-link btn btn-primary" href="#question<%= question.questionOrder %>">Question
            <%= question.questionOrder %></a>
        </li>
        <% }); %>
      </ol>
    </nav>
  </nav>
  <!-- End sidebar -->

  <div class="content">
    <a class="btn btn-primary btn-customized open-menu" href="#" role="button" style="margin-top: 4.5rem" id="menubtn">
      <i class="fas fa-align-right"></i> <span>Menu</span>
    </a>
  </div>
  <!-- navigation -->
  <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-primary d-xl-flex text-uppercase" id="mainNav"
    style="padding-top: 0.1rem; padding-bottom: 0.1rem">
    <div class="container-fluid">
      <div>
        <img class="img-thumbnail" src="../images/logo.png" style="height: 2.7rem" id="logo" />
        <!-- settings button -->
        <button class="btn mx-sm-1 navbar-toggler" id="gearbtn" data-bs-target=".bd-example-modal-lg"
          data-bs-toggle="modal" aria-label="Toggle navigation" style="border: 0rem">
          <style>
            .btn:active {
              transform: translateY(4px);
            }
          </style>

          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="azure" class="bi bi-gear-fill gear"
            viewBox="0 0 16 16">
            <path
              d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
          </svg>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="SETTINGS">
        <button class="
              btn btn-primary
              text-uppercase
              bg-primary bg-gradient
              border
              rounded
              shadow
              align-self-end
              py-1
              px-0 px-lg-2
              mx-lg-4
            " id="btn-settings" type="button" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">
          SETTINGS
        </button>
      </div>

      <!-- Nav Links -->
      <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" id="toggle">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-0 mx-lg-1" id="exit">
            <a class="nav-link active bg-primary bg-gradient border rounded py-2 px-0 px-lg-2 rounded" href="#"
              onclick="location.href = document.referrer; return false;">Exit</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1" id="done">
            <a id="questions-done"
              class="nav-link active bg-primary bg-gradient border rounded py-2 px-0 px-lg-2 rounded" href="#">Done</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--                   MODAL CODES                    -->
  <!--                   MODAL CODES                    -->
  <!--                   MODAL CODES                    -->

  <div class="modal fade bd-example-modal-lg" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true"
    data-bs-whatever="" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <section class="row container-fluid px-3">
          <h2 class="px-5">Quiz Summary</h2>
          <div class="col-8 d-flex flex-column py-2">
            <label class="modallabel py-2" id="title">Title</label>

            <input data-tag="quizTitle"
              class="inputset form-control form-control-lg d-lg-flex border-primary border rounded" type="text"
              placeholder="Enter quiz title" maxlength="80" value="<%= dataset.details.title %>" />
            <label class="modallabel py-2" id="title">Descripton</label>
            <textarea rows="3" data-tag="quizDescription"
              class="inputset border rounded border-primary orm-control-lg d-lg-flex" type="text" maxlength="260">
<%= dataset.details.description %> </textarea>
          </div>

          <div class="imgarea col-4 py-2 flex-column d-flex">
            <span class="imglabel">Cover image</span>
            <div id="my-dropzone-cover" class=" dropzone  border-success border-1" data-tag="imgURL">

            </div>
          </div>
        </section>

        <section class="row px-3 py-3">
          <div class="col-3 d-flex flex-column">
            <label for="Music" class="selectlabel" style="font-weight: bold">Music</label>
            <select id="lobbyMusicId" class="form-select border-primary" data-tag="lobbyMusicId"
              style="font-weight: bold">
              <option value="1" <%= dataset.details.lobbyMusicId == 1 ? "selected": "" %> id="music1">Music-1</option>
              <option value="2" <%= dataset.details.lobbyMusicId == 2 ? "selected": "" %> id="music2">Music-2</option>
              <option value="3" <%= dataset.details.lobbyMusicId == 3 ? "selected": "" %> id="music3">Music-3</option>
              <option value="4" <%= dataset.details.lobbyMusicId == 4 ? "selected": "" %> id="music4">Music-4</option>
              <option value="5" <%= dataset.details.lobbyMusicId == 5 ? "selected": "" %> id="music5">Music-5</option>
              <option value="6" <%= dataset.details.lobbyMusicId == 6 ? "selected": "" %> id="music6">Music-6</option>
              <option value="7" <%= dataset.details.lobbyMusicId == 7 ? "selected": "" %> id="music7">Music-7</option>
              <option value="8" <%= dataset.details.lobbyMusicId == 8 ? "selected": "" %> id="music8">Music-8</option>
              <option value="9" <%= dataset.details.lobbyMusicId == 9 ? "selected": "" %> id="music9">Music-9</option>
              <option value="10" <%= dataset.details.lobbyMusicId == 10 ? "selected": "" %> id="music10">Music-10
              </option>
              <option value="11" <%= dataset.details.lobbyMusicId == 11 ? "selected": "" %> id="music11">Music-11
              </option>
              <option value="12" <%= dataset.details.lobbyMusicId == 12 ? "selected": "" %> id="music12">Music-12
              </option>
              <option value="13" <%= dataset.details.lobbyMusicId == 13 ? "selected": "" %> id="music13">Music-13
              </option>
            </select>
          </div>
          <div class="col-3 py-3 d-flex flex-column">
            <form action="">
              <input id="isVisible" <%= dataset.details.isVisible ? "checked" : "" %> type="checkbox"
                data-tag="isVisible" class="form-check-input
                border-success set-check" style="border-radius: 30px; background-color: green;">
              <label class="selectlabel py-1" style="font-weight: bold">Visible to users </label>
            </form>
          </div>

          <div class="col-5 py-3 d-flex flex-column">
            <form action="">
              <input id="isDraft" <%= dataset.details.isDraft ? "checked" : "" %> type="checkbox" data-tag="isDraft"
                class="form-check-input border-primary set-check" style="border-radius: 30px" />
              <label class="selectlabel px-1 py-1" style="font-weight: bold">Check to save as draft</label>
            </form>
          </div>
        </section>

        <section class="stbtn row container-fluid px-3 py-3" style="text-align: center">
          <div class="stbtn">
            <button id="btn-quiz-done" class="btn btn-success" type="button" style="margin-right: 10px; width: 200px"
              data-tag="Doneset">
              <span style="font-weight: bold">Done</span>
            </button>

            <button id="btn-quiz-cancel" class="btn btn-secondary" type="button" style="margin-left: 10px; width: 200px"
              data-bs-dismiss="modal">
              <span style="font-weight: bold">Close</span>
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>

  <ol class="container-fluid px-0" style="padding-top: 3rem" type="none" id="questionList">
    <% dataset.rows.forEach(function(question){ %> <%- include('../partials/questioncard', { data:
      question}); %> <% }); %>
  </ol>

  <%- include('../partials/footer') %>
  <script>
    Dropzone.prototype.defaultOptions.addRemoveLinks = true;
    Dropzone.prototype.defaultOptions.dictDefaultMessage = 'Drop files or click here to upload';
    Dropzone.prototype.defaultOptions.paramName = 'file';
    Dropzone.prototype.defaultOptions.url = '/upload';
    Dropzone.prototype.defaultOptions.resizeWidth = 540;
    // Dropzone.prototype.defaultOptions.thumbnailWidth = 540;
    // Dropzone.prototype.defaultOptions.thumbnailHeight = 360;
    Dropzone.prototype.defaultOptions.thumbnailMethod= "contain";
    Dropzone.prototype.defaultOptions.acceptedFiles= 'image/jpeg, image/gif, image/png, image/bmp';
    Dropzone.options.myDropzoneCover = {
              resizeWidth: 180,
              thumbnailWidth: 80,
              thumbnailHeight: 80,
};

    $(document).ready(function () {
      // $('.dropzone').each(function(index){
      //   $(this).dropzone({
      //     url: '/upload',
      //     paramName: 'file',
      //     addRemoveLinks: true,
      //     dictDefaultMessage: 'Drop files or click here to upload',
      //     // ...
      //   })
      // });


      const details = <%-JSON.stringify(dataset.details) %> ;
      const title = <%-JSON.stringify(dataset.details.title) %> ;
      const count = <%-JSON.stringify(dataset.count) %> ;
      const rows = <%-JSON.stringify(dataset.rows) %> ;
      console.log('details.text :>> ', title);
      console.log('count :>> ', count);
      console.log('rows :>> ', rows);

      $('#btn-quiz-done').click({
        details: details
      }, (event) => {
        console.table(event.data.details);
        const newDetails = JSON.parse(JSON.stringify(event.data.details));
        newDetails.title = $('[data-tag="quizTitle"]').val();
        newDetails.description = $('[data-tag="quizDescription"]').val();
        newDetails.isVisible = $('[data-tag="isVisible"]').prop('checked');
        newDetails.isDraft = $('[data-tag="isDraft"]').prop('checked');
        newDetails.lobbyMusicId = $('[data-tag="lobbyMusicId"]').val();
        // newDetails.imgURL = $('[data-tag="imgURL"]').prop(); // TODO: needs refactoring for dropzone

        console.table(newDetails);

      })

      $('#questions-done').click({
        questions: rows,
        oldCount: count
      }, (event) => {
        console.log('uuidv4() :>> ', uuidv4());
        const newQuestions = JSON.parse(JSON.stringify(event.data.questions));
        // get current questionCount from dom 
        // refactor with global var like questionCount ??
        const oldCount = event.data.oldCount;
        const newCount = $('[data-question-order]').length;
        // if questionCount is less than or equal to oldCount we will update till this number
        // const updateTill = newCount >= oldCount ? newCount : oldCount; 
        // decide if delete needed else we may add new questions
        const willDelete = newCount - oldCount < 0 ? true : false;
        // console.table(newQuestions[3].Answers);
        if (willDelete) {
          for (let k = newCount; k < oldCount; k++) {
            delete newQuestions[k];
          }
        }
        for (let i = 1; i <= newCount; i++) {
          const oldCountAnswer = newQuestions[i - 1].questionTypeId == 1 ? 2 : 4;
          const newCountAnswer = $(`#question${i}questionTypeId`).val() == 1 ? 2 : 4;

          // decide if delete needed else we may add new questions
          const willDeleteAnswer = newCountAnswer - oldCountAnswer < 0 ? true : false;

          const quizId = $(`#question${i}`).data('quizId');
          const questionId = $(`#question${i}`).data('id');
          newQuestions[i - 1].text = $(`#question${i}text`).val();
          newQuestions[i - 1].questionTypeId = $(`#question${i}questionTypeId`).val();
          newQuestions[i - 1].timeLimitId = $(`#timeLimitId${i}`).val();
          newQuestions[i - 1].imgURL = $(`#img${i}`).prop('src') // TODO: needs refactoring
          if (willDeleteAnswer) {
            console.log('will delete answers of', newQuestions[i - 1]);
            for (let j = newCountAnswer; j < oldCountAnswer; j++) {
              delete newQuestions[i - 1].Answers[j];
            }
          }
          for (let j = 1; j <= newCountAnswer; j++) {
            newQuestions[i - 1].Answers[j - 1].text = $(`#question${i}Answers${j}text`).val();
            newQuestions[i - 1].Answers[j - 1].isCorrect = $(`#question${i}Answers${j}isCorrect`).prop(
              'checked');
            const id = $(`#question${i}Answers${j}`).data('id');
            if (!id) {
              newQuestions[i - 1].Answers[j - 1].id = uuidv4();
            }
            // TODO: add data-answer-order to dom elements

          }
        };
        for (const q of newQuestions) {
          console.log('q :>> ', q);
        }
      })

      $('.dismiss, .overlay').on('click', function () {
        $('.sidebar').removeClass('active');

      });

      $('.open-menu').on('click', function (e) {
        e.preventDefault();
        $('.sidebar').addClass('active');

        // close opened sub-menus
        $('.collapse.show').toggleClass('show');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');

      });


    });
  </script>
</body>

</html>
